<!-- {% if page.layout == "default" %}
  <a href = "/index.html"><span title = "HOME" data-hover = "HOME">HOME</span></a> |
{% endif %} -->

{% if page.title == "cv" %}
  <span id = "active" >CV</span> |
{% else %}
  <a class = "fade" href = "/CV/index.html">CV</a> |
{% endif %}

{% if page.title == "design" %}
  <span id = "active">DESIGN</span> |
{% else %}
  <a class = "fade" href = "/DESIGN/index.html">DESIGN</a> |
{% endif %}
  
{% if page.title == "art" %}
  <span id = "active" >ART</span>
{% else %}
  <a class = "fade" href = "/ART/index.html">ART</a>
{% endif %}


<!-- <div class = "mobnav">
  <a href = "/CV/index.html">CV</a> 
  <a href = "/DESIGN/index.html">DESIGN</a>
  <a href = "/ART/index.html">ART</a>
</div> -->
